<a href="https://colab.research.google.com/github/rajusuthar/Python-Assignment/blob/main/Assignment_Solution_Pandas_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [1]:
# Import statements
import pandas as pd
import numpy as np

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
Automobile_df = pd.read_csv('/content/drive/MyDrive/automobile_data.csv')

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [4]:
Automobile_df.head(15)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [11]:
def replace_(column_):
  if (column_ =='?') or (column_ == 'n.a'):
    return np.nan
  else:
    return column_

In [14]:
Automobile_df.apply(lambda x : replace_(x['normalized-losses']),axis=1)

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Length: 205, dtype: object

In [15]:
Automobile_df=Automobile_df.replace('?',np.nan)
Automobile_df=Automobile_df.replace('n.a',np.nan)

In [16]:
Automobile_df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [39]:
Automobile_df['price'] = pd.to_numeric(Automobile_df['price'])
Automobile_df[['make','price']][Automobile_df['price']==Automobile_df['price'].max()]

             make    price
74  mercedes-benz  45400.0

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [41]:
Automobile_df['horsepower'] = pd.to_numeric(Automobile_df['horsepower'])

In [52]:
Automobile_companies = list(Automobile_df['make'].unique())

In [62]:
company_max_power_dict = {}
for company in Automobile_companies:
  company_max_power_dict[company] = Automobile_df['horsepower'][Automobile_df['make']==company].max()

In [64]:
company_max_power_dict

{'alfa-romero': 154.0,
 'audi': 160.0,
 'bmw': 182.0,
 'chevrolet': 70.0,
 'dodge': 145.0,
 'honda': 101.0,
 'isuzu': 90.0,
 'jaguar': 262.0,
 'mazda': 135.0,
 'mercedes-benz': 184.0,
 'mercury': 175.0,
 'mitsubishi': 145.0,
 'nissan': 200.0,
 'peugot': 142.0,
 'plymouth': 145.0,
 'porsche': 288.0,
 'renault': nan,
 'saab': 160.0,
 'subaru': 111.0,
 'toyota': 161.0,
 'volkswagen': 110.0,
 'volvo': 162.0}

In [68]:
pd.DataFrame(company_max_power_dict.items(),columns=['Company_name','Maximum_horse_power']).sort_values(by='Maximum_horse_power')

     Company_name  Maximum_horse_power
3       chevrolet                 70.0
6           isuzu                 90.0
5           honda                101.0
20     volkswagen                110.0
18         subaru                111.0
8           mazda                135.0
13         peugot                142.0
4           dodge                145.0
11     mitsubishi                145.0
14       plymouth                145.0
0     alfa-romero                154.0
1            audi                160.0
17           saab                160.0
19         toyota                161.0
21          volvo                162.0
10        mercury                175.0
2             bmw                182.0
9   mercedes-benz                184.0
12         nissan                200.0
7          jaguar                262.0
15        porsche                288.0
16        renault                  NaN

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [73]:
Automobile_df.shape

(205, 26)

In [72]:
Automobile_df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [84]:
def Price_based_on_engine(price_,engine_location):
  if engine_location =='front':
    return price_
  else:
    return 2*price_

In [85]:
Automobile_df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [86]:
Automobile_df['Updated_price'] = Automobile_df.apply(lambda x : Price_based_on_engine(x['price'],x['engine-location']),axis=1 )

In [90]:
Automobile_df[['Updated_price','price','engine-location']].head(100)

    Updated_price    price engine-location
0         13495.0  13495.0           front
1         16500.0  16500.0           front
2         16500.0  16500.0           front
3         13950.0  13950.0           front
4         17450.0  17450.0           front
..            ...      ...             ...
95         7799.0   7799.0           front
96         7499.0   7499.0           front
97         7999.0   7999.0           front
98         8249.0   8249.0           front
99         8949.0   8949.0           front

[100 rows x 3 columns]

# <b>Problem 9 : Sort the dataframe by car and price columns

In [92]:
Automobile_df.sort_values(by=['price','make'],ascending=[False,True])

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Updated_price
74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,mpfi,3.8,3.35,8.0,184.0,4500,14,16,45400.0,45400.0
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,mpfi,3.62,3.39,8.0,182.0,5400,16,22,41315.0,41315.0
73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,mpfi,3.8,3.35,8.0,184.0,4500,14,16,40960.0,40960.0
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207.0,5900,17,25,37028.0,74056.0
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,mpfi,3.62,3.39,8.0,182.0,5400,15,20,36880.0,36880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,...,2bbl,3.62,2.36,9.0,69.0,4900,31,36,5118.0,5118.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.4,7.0,160.0,5500,16,22,NaN,NaN
44,1,NaN,isuzu,gas,std,two,sedan,fwd,front,94.5,...,2bbl,3.03,3.11,9.6,70.0,5400,38,43,NaN,NaN
45,0,NaN,isuzu,gas,std,four,sedan,fwd,front,94.5,...,2bbl,3.03,3.11,9.6,70.0,5400,38,43,NaN,NaN
129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,...,mpfi,3.94,3.11,10.0,288.0,5750,17,28,NaN,NaN

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [93]:
Automobile_df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [94]:
def return_no_of_door(number_):
  if number_=='two':
    return 2
  elif number_ == 'four':
    return 4
  else:
    return 0

In [96]:
Automobile_df['Number_of_door']=Automobile_df.apply(lambda x : return_no_of_door(x['num-of-doors']),axis=1)

In [98]:
Automobile_df[['num-of-doors','Number_of_door']]

    num-of-doors  Number_of_door
0            two               2
1            two               2
2            two               2
3           four               4
4           four               4
..           ...             ...
200         four               4
201         four               4
202         four               4
203         four               4
204         four               4

[205 rows x 2 columns]

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>